.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 30%;
  height: 22%;
  border-radius: 10px;
  padding: 2px;
  box-shadow: 2px 2px 2px black;
  margin-top: 35px;
  margin-left: 0px;
  margin-right: 10px;
  @media screen and (min-width: 500px) {
    margin-left: 10px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 5px;
  }
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role="tooltip"].popup-content {
  width: 180px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  @media screen and (max-width: 300px) {
    width: 160px;
    height: 120px;
  }
  @media screen and (min-width: 500px) {
    width: 200px;
  }
  @media screen and (min-width: 700px) {
    width: 230px;
  }
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}
