.apply-font {
  font-family: "Aboreto", cursive;
  font-family: "Bricolage Grotesque", sans-serif;
  font-family: "Fira Code", monospace;
  font-family: "Merriweather", serif;
  font-family: "Noto Sans Vithkuqi", sans-serif;
  font-family: "Noto Serif Vithkuqi", serif;
  font-family: "Piazzolla", serif;
  font-family: "Poppins", sans-serif;
}
