@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Bricolage+Grotesque:opsz,wght@10..48,500&family=Fira+Code&family=Merriweather:wght@700&family=Noto+Sans+Vithkuqi:wght@700&family=Noto+Serif+Vithkuqi:wght@500&family=Piazzolla:wght@900&family=Poppins:wght@300&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  cursor: default;
}
::-webkit-scrollbar {
  width: 2px;
  background: #b91c1c;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #b91c1c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.add-animation {
  transition: 0.5s;
}
.add-animation:hover {
  transform: scale(1.1);
}
